.vagrant
/cookbooks

# Bundler
bin/*
.bundle/*

.kitchen/
.kitchen.local.yml

.idea
.vscode
/.obsidian/*.json

/.obsidian/app.json
/.obsidian/workspace-mobile.json
/.obsidian/app.json
/.obsidian/workspace-mobile.json